:root{
	--brown-color: #291e1e;
}

body{
	padding: 0;
	margin: 0;
}

ul{
	list-style: none;
	padding: 0;
}

.page-header{
	background-color: var(--brown-color);
	padding: 25px 0;
}

.search-form{
	width: 400px;
	margin: 0 auto;
}

.text-search{
	width: 100%;
    border-radius: 10px;
}

.title-list{
	text-align: center;
}

.result-view{
	margin: 0 auto;
}

.result-view td{
	padding: 4px 7px;
}

.list-pagination{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.list-pagination li{
	margin-left: 10px;
	margin-right: 10px;
}